{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Logged Out{% endblock %}

{% block css %}
<link href="{% static 'css/logout.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block bodycontent %}
	
<div class="row">
	<div class="col-lg-1 col-md-12 col-sm-12 col-12"></div>	
	<div class="col-lg-10 col-md-12 col-sm-12 col-12">
		<div class="text-center logout">
			<h2>You Have Successfully Logged Out</h2>
		</div>
	</div>
	<div class="col-lg-1 col-md-12 col-sm-12 col-12"></div>	
</div>
{% endblock %}