<!DOCTYPE Html>
<html>

<body>
  <h2>Sign up</h2>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Reset your password</h3>
          <p>Enter your phone number and we will send you verification code</p>
          <form id="phone_number_send" action="{% url 'auth:reset_password_phone_number_send' %}" method="post" name="phone_only">
            {% csrf_token %}
            {{ auth_phone_only_form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Ask for Verification Code</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>