/*css of top_nav_bar.html*/
.navbar-brand {font-family: 'Major Mono Display', monospace;}

/*css of landing.html*/
.row {
	  margin-top: 30px;
	  text-align: center;
	}

.main-header {
			  margin: 40px auto auto auto;
			  display: block;
			}

/*.row.no1 {
		  background-color: red;
		}
.row.no2 {
		  background-color: yellow;
		}
.row.no3 {
		  background-color: blue;
		}
.row.no4 {
		  background-color: black;
		}
.row.no5 {
		  background-color: green;
		}
.row.no6 {
		  background-color: red;
		}
.row.no7 {
		  background-color: yellow;
		}*/


/*css of about.html*/
.heading {
		  padding-top: 20px;
		  text-align: center;
		  font-family: 'Prata', serif;
		}

.middle-column-content {font-family: 'Prata', serif;}

.go-tos {padding-top: 20px;}
