{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Sogang Portfolio{% endblock %}
{% block css %}
<link href="{% static 'css/landing.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block bodycontent %}
<div class="header">
	<div class="container">
		<div class="row">
		<!-- <div class="header-content-wrapper"> -->
			<!-- <div class="col-lg-1 col-md-12 col-sm-12 col-12"></div>
			<div class="col-lg-10 col-md-12 col-sm-12 col-12"> -->
			<div class="main-header">
				<img src= "{% static 'img/row-background4.png' %}" alt="programming">
			</div>
			<!-- </div> -->
			<!-- <div class="col-lg-1 col-md-12 col-sm-12 col-12"></div> -->
		</div>
	</div>
</div>

<div class="container projects">
	<div class="row projects">
		<div class="col-5 out">
			<div class="row">
				<div class="col-7" onclick="location.href='{% url 'about' %}'">
					<div class="row no1">
						<div class="project-number">1</div>
					</div>
				</div>
				<div class="col-5 in" onclick="location.href='#'">
					<div class="row no1">
						<div class="project-number">2</div>
					</div>
				</div>
			</div>
			<div class="row no3" onclick="location.href='#'">
				<div class="project-number">3</div>
			</div>
		</div>
		<div class="col-3">
			<div class="row no4" onclick="location.href='#'">
				<div class="project-number">4</div>
			</div>
			<div class="row no5" onclick="location.href='#'">
				<div class="project-number">5</div>
			</div>
		</div>
		<div class="col-4">
			<div class="row no6" onclick="location.href='#'">
				<div class="project-number">6</div>
			</div>
			<div class="row no7" onclick="location.href='#'">
				<div class="project-number">7</div>
			</div>
		</div>
	</div>


{% endblock %} 