{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 bg-light" id="home-content-intro">
<div class="cover-container d-flex w-80 h-80 p-5 mx-auto flex-column">
	<div class="text-center">
		<div class="inner cover">
			<h1 class="cover-heading">Welcome to the Portfolio Page of<br> 
			Sogang University Python & Django Class</h1>
		<p class="lead pt-2">You've entered the homepage. Welcome! <br> Feel free to click, look around, try, and experiment!</p>
	</div>
</div>
</div>
</div>
<div class="container mt-3 p-0" id="home-content-body">
<div class="text-center mt-3">
<div class="container mt-3">
	<div class="row">
		<div class="col-sm mr-1 p-3 bg-light" id="index-item">
			<h3><a href="#">About Us</a></h3>
			<p>Learn more about how we came to be and what we are doing</p>
		</div>
		<div class="col-sm ml-1 mr-1 p-3 bg-light" id="index-item">
			<h3><a href="#">Posts</a></h3>
			<p>Check out the posts <br>written by our users</p>
		</div>
		<div class="col-sm ml-1 p-3 bg-light" id="index-item">
			<h3><a href="">Follows</a></h3>
			<p>Find out who is following who!</p>
		</div>
	</div>
	</div>
</div>
</div>
{% endblock %}